h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: navy;
   text-align: center;
   list-style-type: upper-roman;
}

.p {
   color: darkmagenta;
   text-align: right;
}