<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf = 'chores.length > finishedChores.length' style= 'color:darkviolet'>Work harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src="{{targetImage}}" alt = "You're doing a great job!" *ngIf ='chores.length === 0 || finishedChores.length - chores.length >= 3; else notYet'>
</div>
<hr>
<ng-template #notYet>
   <p style="color:rgb(15, 189, 189)">No allowance yet...Keep going!</p>
</ng-template>

<h1 *ngIf = 'chores.length === 0 && finishedChores.length >= 4; else iceCreamRequirements'>Ice Cream Treat!!!</h1>

<ng-template #iceCreamRequirements>
    <h3>To earn an ice cream treat:</h3>
    <p style="text-align:center">The chores list must be empty.</p>
    <p style="text-align:center">The Done lsit must have at least 4 items.</p>
</ng-template>